[submodule "GameTraktor/vendor/spdlog"]
	path = GameTraktor/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GameTraktor/vendor/GLFW"]
	path = GameTraktor/vendor/GLFW
	url = git@github.com:tylorkolbeck/glfw.git
